    body 
    {
    	background:#eee;
    	font-family:MS Sans Serif;
    	}
    
    #CreditCardPanel 
    {
    	width:480px;
    	height:900px;
    	background:#E9E9E9;
    	zborder-bottom:1px dotted #ccc;
    	font-size:12px;
    	border:1px dotted #999;
    	padding:20px;
        
    	}
    	
    	
	#copyUserDataToCCFields 
	{
		font-weight:bold;
		color:#28496B;
		}

    .field 
    {
    	margin-bottom:10px;
    	}
    
    .field span 
    {
    	font-weight:bold;
    	color:#28496B;
    	font-size:12px;
    	}
    
    #cbCopyUserDataToCreditCardFields, #copyUserDataToCCFields	
    {
    	float:left;
    	}

    #copyUserDataToCCFields 
    {
    	margin:2px;
    	padding-top:0px;
    	margin-bottom:20px;
    	}
    
    #Panel1, #Panel2 
    {
    	width:273px;
    	float:left;
    	zheight:190px;
    	height:auto;
    	overflow:hidden;
        zbackground:#ccc;
        overflow:hidden;
    	}
    	
    #Panel1 
    {
    	width:100px;
        height:470px;
        text-align:right;
    	zbackground:#acacac;
    	zborder-right:1px dotted #ccc;
    	padding-right:10px;
        overflow:visible;
    	}	
    	
    #Panel2
    {
        width:350px;
    }
    
    #Panel1 div, #Panel2 div 
    {
    	height:35px;
    	overflow:hidden;
    	zborder:1px dotted #ccc;
        
    }
    #Panel1 div {
       overflow:visible;
    }
    	
     #Panel1 div span
     {
        display:block;
        margin-top:4px;
        font-weight:normal !important;
         }
    
    #Panel2 div input, #Panel2 div select
     {
        padding:3px;
        display:block;
        zmargin-top:3px;
         }
    
    #cardholder, #tbBillingAddress, #tbPhone, #tbEmail 
    {
    	width:240px;
    	}
    	
    #tbCity 
    {
    	width:173px;
    	margin-right:20px;
    	}
    	
    #tbZipCode 
    {
    	width:68px;
    	}

    #ddlClientCCHolderCountry 
    {
    	width:200px;
    	margin-right:20px;
    	}
    	
    #ddlClientCCHolderState 
    {
    	width:50px;
    	}
    	   
    #ddlClientCCHolderCardType 
    {
    	margin-right:20px;
    	width:155px;
    	}  

    #cardnumber 
    {
    	width:203px; 
    	margin-right:20px;
    	}
    
    #cvv 
    {
    	width:35px;
    	}
    	
    #amountccd, #amountcc 
    {
    	width:70px;
    	text-align:right;
    	} 	   
    	   
    #btnPay, #backToSummary 
    {
    	
    	width:77px;
    	font-size:11px;
    	} 
    	
	 #btnPay 
	 {
	 	margin-left:110px;
	 	margin-top:0px;
	 	}
    	
    #backToSummary 
    {
    	font-size:11px;
    	clear:both;
    	width:120px;
    	color:#333;
    	display:none;
    	zmargin-left:-10px;
    	margin-left:390px;
    	margin-top:-22px;
    	}
    	
#totalServiceSumDiv 
{
	ztext-align:right;
	zmargin-top:40px;
	zmargin-bottom:10px;
	zfont-size:12px;
	zwidth:578px;
	zmargin-left:0px;
	zbackground:#E9E9E9;
	zborder:1px dotted #999;
	zpadding:10px;
	zmargin-left:-10px;
	zfont-size:14px;
	}
	
#amountccd 
{
	width:75px;
	font-size:14px;
}

#amountcc 
{
	width:75px;
	font-size:14px;
	border:none;
	background:none;
	border-bottom:1px dotted #666;
}
