﻿body 
{
	font-family:Arial; 
	font-size:12px;
	font-weight:bold;
	background:#f7f7f7;
	}

body h1 
{
	padding:10px;
	margin:0px;
	color:#3C5270;
	zmargin-bottom:20px;
	zborder:1px solid #eee;
	border-bottom:1px solid #eee;
	margin-left:20px;
	margin-right:40px;
	ztext-align:center;
	zbackground:#f4f4f4;
	font-size:18px;
	}

#ccFormWrapper 
{
	height:1100px;
	width:600px;
	margin-left:20px;
	padding:20px;
	padding-right:0px;
	background:#efefef;
	border:1px solid #ddd;
	zborder-top:none;
	margin-top:0px;
	
	}

#ddlCardType 
{
	height:22px;
	width:142px;
	}
	
#tbCCV 
{
	width:42px;
	}
	
#housingAgreement 
{
	font-size:18px;
	text-align:right;
	padding-right:50px;
	margin-top:90px;
	height:100px;
	border-top:1px solid #ccc;
	background:#eee;
	width:560px;
	padding-top:20px;
	cursor:pointer;
	}
	
#ccFields1, #ccFields2 
{
	margin-right:20px; 
	width:257px; 
	overflow:hidden; 
	zbackground:#eee;
	}
	
#ccFields1 
{
	width:257px;
	zborder-right:1px solid #fff;
	}
	
.check_Box_wrapper 
{
	width:20px;
	height:20px;
	float:left;
	margin-top:0px;
	margin-right:10px;
	zbackground:Red;
	}
	
.wire_transfer_text_wrapper 
{
	width:210px;
	height:auto;
	float:left;
	zpadding:5px;
	zbackground:#ececec;
	}
	
.vlajko
{
    width:100px !important;
    
}

.vlajko_Wrapper
{
    width:108px !important;
}