﻿body 
{
	padding:0px;
	margin:0px;
	zbackground:#122336;
	background:#fff;
	font-family:Calibri;
	font-size:12px;
	color:#333;
	}

body a 
{
	outline:none;
	color:#5585BB;
	}
	
input 
{
	outline:none;
	}

body a:hover 
{
	color:Red;
	}
	
body a:visited 
{
	color:#5585BB;
	}
	

div#bg 
{
	zwidth:4000px;
	zheight:4000px;
	background:url(../../visuals/img/bodyBg.jpg);
	background-repeat:repeat-x;
	}

div#frame 
{
	width:1155px;
	height:1200px;
	margin-left:auto;
	margin-right:auto;
	background:url(../../visuals/img/frameBg.jpg);
	background-repeat:no-repeat;
	zborder-left:1px solid #666;
	zborder-right:1px solid #666;
	}
	
/* CLASSES  *//* CLASSES  *//* CLASSES  *//* CLASSES  *//* CLASSES  *//* CLASSES  *//* CLASSES  *//* CLASSES  *//* CLASSES  *//* CLASSES  */

.float_left 
{
	float:left;
	}

.float_right 
{
	float:right;
	}
	
.clear_float 
{
	clear:both;
	}
	
.field_label, .field_label_normalSpacing
{
	padding:0px;
	margin:0px;
	margin-top:10px;
	font-size:12px;
	color:#333;
	letter-spacing:1px;
	clear:both;
	}
	

.field_label_normalSpacing
{
	letter-spacing:normal;
	zmargin-right:3px;
}
	
.field_label_normalSpacing span 
{
	color:#555;
	}	
	
.text_field_wrapper, .longText_field_wrapper, .mediumText_field_wrapper, .shortText_field_wrapper, .standardText_field_wrapper, .tinyDDL_field_Wrapper, .phone_field_wrapper, .tinyText_field_wrapper, .mediumShortText_field_wrapper   
{
	height:28px;
	width:158px;
	background:#ddd;
	clear:both;
	}

.longTextArea_field_wrapper {
    height:88px;
	width:248px;
	background:#ddd;
	clear:both;
} 

.shortDDL_field_Wrapper
{
    
    height:28px;
	background:#ddd;
	clear:both;
    }
.check_Box_wrapper
{
    height:19px;
	width:19px;
	background:#ddd;
	clear:both;
}

.text_field, .longText_field, .mediumText_field, mediumDDL_field, .shortText_field, .tinyDDL_field, .phoneText_field, .tinyText_field,.mediumShortText_field 
{
	padding:0px;
	margin:3px;
	border:1px solid #999;
	height:21px;
	width:150px;
	clear:both;
	}
	

.phoneText_field 
{
	width:110px;
	}

.longText_field 
{
	width:240px;	
	}

.phone_field_wrapper 
{
	width:118px;
	}
	
.standardText_field_wrapper 
{
	width:138px;
	}	
	
.longText_field_wrapper 
{
	width:248px;
	}

.mediumText_field 
{
	width:140px;	
	}
	
.standardDDL_field 
{
	border:1px solid #999;
	margin:3px;
	height:22px;
	width:132px;
	}

.mediumDDL_field 
{
	border:1px solid #999;
	margin:3px;
	height:22px;
	width:142px;
	}
	
.longDDL_field 
{
	border:1px solid #999;
	margin:3px;
	height:22px;
	width:242px;
	}
	
.shortDDL_field 
{
	border:1px solid #999;
	margin:3px;
	height:22px;
	width:88px;
	}
	
.tinyDDL_field 
{
	border:1px solid #999;
	margin:3px;
	height:22px;
	width:62px;
	}
	
.shortDDL_field_Wrapper 
{
	width:94px;
	}
	
.tinyDDL_field_Wrapper 
{
	width:68px;
	}
	
.mediumText_field_wrapper 
{
	width:148px;
	}
	
.shortText_field 
{
	width:80px;	
	}
	
.shortText_field_wrapper 
{
	width:88px;
	}

.button_wrapper 
{
	margin-top:2px;
	height:34px;
	width:64px;
	background:#ddd;	
	}
	
.pushdown 
{
	margin-top:15px;
	}
	
.buttons 
{
	margin:0px;
	padding:0px;
	background:#ccc;
	border:1px solid #999;
	margin:4px;
	height:26px;
	width:56px;
	background:url(../../visuals/img/SignIn/signIn_button_bg.jpg);
	background-repeat:repeat-x;
	color:#333;
	font-weight:bold;
	cursor:pointer;
	}
.button_wrapperGS 
{
	margin-top:2px;
	height:34px;
	width:200px;
	background:#ddd;	
	}
	
.buttonsGS 
{
	margin:0px;
	padding:0px;
	background:#ccc;
	border:1px solid #999;
	margin:4px;
	height:26px;
	width:192px;
	background:url(../../visuals/img/SignIn/signIn_button_bg.jpg);
	background-repeat:repeat-x;
	color:#333;
	font-weight:bold;
	cursor:pointer;
	}
.button_wrapper1 
{
	margin-top:2px;
	height:34px;
	width:276px;
	background:#ddd;	
	}
.buttons1 
{
	margin:0px;
	padding:0px;
	background:#ccc;
	border:1px solid #999;
	margin:4px;
	height:26px;
	width:268px;
	background:url(../../visuals/img/SignIn/signIn_button_bg.jpg);
	background-repeat:repeat-x;
	color:#333;
	font-weight:bold;
	cursor:pointer;
	
	}
.button_wrapper2 
{
	clear:both;
	margin-top:0px;
	margin-left:94px;
	height:15px;
	width:200px;
	background:#fff;
	zpadding-top:15px;
	float:right;  
	margin-right:30px; 
	color:#333; 
	margin-bottom:10px;	
	}
.button_wrapper3 
{
	margin-top:2px;
	height:34px;
	width:64px;
	background:#ddd;	
	}
.button_wrapper2 a:hover
{
    color:Red;
    }	
.buttons3 
{
	margin:0px;
	padding:0px;
	background:#ccc;
	border:1px solid #999;
	margin:4px;
	height:26px;
	width:56px;
	background:url(../../visuals/img/SignIn/signIn_button_bg.jpg);
	background-repeat:repeat-x;
	color:#333;
	font-weight:bold;
	cursor:pointer;
	}
	
.button_wrapper4 
{
	margin-top:20px;
	height:34px;
	width:64px;
	background:#ddd;	
	}
	

	
.buttons4 
{
	margin:0px;
	padding:0px;
	background:#ccc;
	border:1px solid #999;
	margin:4px;
	height:26px;
	width:56px;
	background:url(../../visuals/img/SignIn/signIn_button_bg.jpg);
	background-repeat:repeat-x;
	color:#333;
	font-weight:bold;
	cursor:pointer;
	}		
.note 
{
	font-size:11px;
	line-height:14px;
	}
	
.note span 
{
	margin-right:5px;
	color:Red;
	font-weight:bold;
	}
	
	
/* LAST MINUTE TCT EDITS */

.tinyText_field_wrapper 
{
	width:48px;
	}
	
.tinyText_field 
{
	width:40px;
	}
	
.push-right 
{
	margin-right:12px;
	}
	
.mediumShortText_field_wrapper 
{
	width:98px;
	} 

.mediumShortText_field 
{
	width:90px;
	}
	
.mediumShortText_field_wrapper_vlajko
{
    width:170px !important;
}

.mediumShortText_field_vlajko
{
    width:160px !important;
}
